## 1. The ten best-selling video games
<p><img src="https://assets.datacamp.com/production/project_1413/img/video_game.jpg" alt="A video game player choosing a game to play on Nintendo Switch." width="400"></p>
</p>
<p>Video games are big business: the global gaming market is projected to be worth more than $300 billion by 2027 according to <a href="https://www.mordorintelligence.com/industry-reports/global-gaming-market">Mordor Intelligence</a>. With so much money at stake, the major game publishers are hugely incentivized to create the next big hit. But are games getting better, or has the golden age of video games already passed?</p>
<p>In this project, we'll explore the top 400 best-selling video games created between 1977 and 2020. We'll compare a dataset on game sales with critic and user reviews to determine whether or not video games have improved as the gaming market has grown.</p>
<p>Our database contains two tables. </p>
<h3 id="game_sales"><code>game_sales</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>platform</code></td>
<td>varchar</td>
<td>Gaming platform</td>
</tr>
<tr>
<td style="text-align:left;"><code>publisher</code></td>
<td>varchar</td>
<td>Game publisher</td>
</tr>
<tr>
<td style="text-align:left;"><code>developer</code></td>
<td>varchar</td>
<td>Game developer</td>
</tr>
<tr>
<td style="text-align:left;"><code>games_sold</code></td>
<td>float</td>
<td>Number of copies sold (millions)</td>
</tr>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Release year</td>
</tr>
</tbody>
</table>
<h3 id="reviews"><code>reviews</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>critic_score</code></td>
<td>float</td>
<td>Critic score according to Metacritic</td>
</tr>
<tr>
<td style="text-align:left;"><code>user_score</code></td>
<td>float</td>
<td>User score according to Metacritic</td>
</tr>
</tbody>
</table>
<p>Let's begin by looking at some of the top selling video games of all time!</p>

In [ ]:
%%sql
postgresql:///games
--Top selling Video Games of all Time
SELECT * FROM game_sales
ORDER BY games_sold DESC
LIMIT 10;

10 rows affected.

[('Wii Sports for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.90'), 2006),
 ('Super Mario Bros. for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive for PC', 'PC', 'Valve', 'Valve Corporation', Decimal('40.00'), 2012),
 ('Mario Kart Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.60'), 2017),
 ('Minecraft for PC', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version for GB', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros. for DS', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.80'), 2006),
 ('New Super Mario Bros. Wii for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.30'), 2009)]

In [ ]:
%%sql
--Total number of video games
SELECT COUNT(* ) FROM game_sales;

 * postgresql:///games
1 rows affected.

[(400,)]

## 2. Missing review scores
<p>Wow, the best-selling video games were released between 1985 to 2017! That's quite a range; we'll have to use data from the <code>reviews</code> table to gain more insight on the best years for video games. </p>
<p>First, it's important to explore the limitations of our database. One big shortcoming is that there is not any <code>reviews</code> data for some of the games on the <code>game_sales</code> table. </p>

In [ ]:
%%sql

--Video games with no reviews
SELECT * FROM game_sales  g
LEFT JOIN reviews r
ON g.game = r.game
WHERE critic_score IS NULL AND user_score IS NULL;

 * postgresql:///games
31 rows affected.

[('7 Days to Die for PC', 'PC', 'The Fun Pimps', 'The Fun Pimps', Decimal('4.18'), 2013, None, None, None),
 ('Arma 2: Operation Arrowhead for PC', 'PC', 'Meridian4', 'Bohemia Interactive', Decimal('4.51'), 2010, None, None, None),
 ('Arma III for PC', 'PC', 'Bohemia Interactive', 'Bohemia Interactive', Decimal('4.00'), 2013, None, None, None),
 ("Assassin's Creed: Unity for PS4", 'PS4', 'Ubisoft', 'Ubisoft Montreal', Decimal('4.14'), 2014, None, None, None),
 ('Call of Duty: Black Ops 3 for XOne', 'XOne', 'Activision', 'Treyarch', Decimal('7.37'), 2015, None, None, None),
 ('Call of Duty: Black Ops IIII for XOne', 'XOne', 'Activision', 'Treyarch', Decimal('4.85'), 2018, None, None, None),
 ("Disney's Aladdin for GEN", 'GEN', 'Sega', 'Virgin Interactive', Decimal('4.00'), 1993, None, None, None),
 ('Dr. Mario for GB', 'GB', 'Nintendo', 'Nintendo R&D1', Decimal('5.34'), 1990, None, None, None),
 ('Dr. Mario for NES', 'NES', 'Nintendo', 'Nintendo R&D1', Decimal('4.85'), 1990, None, None, None),
 ('FIFA 13 for PS3', 'PS3', 'EA Sports', 'EA Canada', Decimal('8.01'), 2012, None, None, None),
 ('FIFA 13 for X360', 'X360', 'EA Sports', 'EA Canada', Decimal('5.11'), 2012, None, None, None),
 ("Garry's Mod for PC", 'PC', 'Valve', 'Facepunch Studios', Decimal('16.90'), 2006, None, None, None),
 ('Golf for NES', 'NES', 'Nintendo', 'Nintendo', Decimal('4.01'), 1985, None, None, None),
 ('Gran Turismo 6 for PS3', 'PS3', 'Sony Computer Entertainment America', 'Polyphony Digital', Decimal('5.22'), 2013, None, None, None),
 ('Just Dance 4 for Wii', 'Wii', 'Ubisoft', 'Ubisoft', Decimal('6.89'), 2012, None, None, None),
 ("Kirby's Dream Land for GB", 'GB', 'Nintendo', 'HAL Laboratory', Decimal('5.13'), 1992, None, None, None),
 ('Minecraft for XOne', 'XOne', 'Microsoft Studios', 'Mojang', Decimal('5.43'), 2014, None, None, None),
 ('Monster Hunter 4 for 3DS', '3DS', 'Capcom', 'Capcom', Decimal('4.10'), 2013, None, None, None),
 ('Monster Hunter Freedom 3 for PSP', 'PSP', 'Capcom', 'Capcom', Decimal('4.90'), 2010, None, None, None),
 ('Namco Museum Vol.3 for PS', 'PS', 'Namco', 'Namco', Decimal('4.05'), 1997, None, None, None),
 ('Pitfall! for 2600', '2600', 'Activision', 'Activision', Decimal('4.50'), 1982, None, None, None),
 ('Riven: The Sequel to Myst for PC', 'PC', 'Red Orb', 'Cyan Worlds', Decimal('4.50'), 1997, None, None, None),
 ('Sonic the Hedgehog 2 for GEN', 'GEN', 'Sega', 'Sonic Team', Decimal('6.00'), 1992, None, None, None),
 ('Star Wars Battlefront II (2017) for PS4', 'PS4', 'Electronic Arts', 'EA DICE', Decimal('4.53'), 2017, None, None, None),
 ('Street Fighter II: The World Warrior for SNES', 'SNES', 'Capcom', 'Capcom', Decimal('6.30'), 1992, None, None, None),
 ('Super Mario Land for GB', 'GB', 'Nintendo', 'Nintendo R&D1', Decimal('18.14'), 1989, None, None, None),
 ('Tetris for NES', 'NES', 'Nintendo', 'Nintendo', Decimal('5.58'), 1989, None, None, None),
 ('The Legend of Zelda: Oracle of Ages / Seasons for GBC', 'GBC', 'Nintendo', 'Capcom', Decimal('3.99'), 2001, None, None, None),
 ("Tom Clancy's Rainbow Six: Siege for PS4", 'PS4', 'Ubisoft', 'Ubisoft Montreal', Decimal('4.36'), 2015, None, None, None),
 ('Yokai Watch 2: Bony Spirits / Fleshy Souls / Psychic Specters for 3DS', '3DS', 'Nintendo', 'Level 5', Decimal('7.29'), 2016, None, None, None),
 ('Zelda II: The Adventure of Link for NES', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('4.38'), 1988, None, None, None)]

## 3. Years that video game critics loved
<p>It looks like a little less than ten percent of the games on the <code>game_sales</code> table don't have any reviews data. That's a small enough percentage that we can continue our exploration, but the missing reviews data is a good thing to keep in mind as we move on to evaluating results from more sophisticated queries. </p>
<p>There are lots of ways to measure the best years for video games! Let's start with what the critics think. </p>

In [ ]:
%%sql

-- Year with highest Average Critics Rating
WITH CTE AS (SELECT * FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year , ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]

## 4. Was 1982 really that great?
<p>The range of great years according to critic reviews goes from 1982 until 2020:  </p>
<p> Maybe there weren't a lot of video games in our dataset that were released in certain years. </p>
<p>Let's update our query and find out whether 1982 really was such a great year for video games.</p>

In [ ]:
%%sql

-- Update the query to see the number of Video Games released in each Year
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1998, 10, Decimal('9.32')),
 (2004, 11, Decimal('9.03')),
 (2002, 9, Decimal('8.99')),
 (1999, 11, Decimal('8.93')),
 (2001, 13, Decimal('8.82')),
 (2011, 26, Decimal('8.76')),
 (2016, 13, Decimal('8.67')),
 (2013, 18, Decimal('8.66')),
 (2008, 20, Decimal('8.63')),
 (2017, 13, Decimal('8.62'))]

## 5. Years that dropped off the critics' favorites list
<p>That looks better! The <code>num_games</code> column convinces us that our new list of the critics' top games reflects years that had quite a few well-reviewed games rather than just one or two hits. But which years dropped off the list due to having four or fewer reviewed games? Let's identify them so that someday we can track down more game reviews for those years and determine whether they might rightfully be considered as excellent years for video game releases!</p> We are creating two TEMPORARY TABLE TO STORE OUR RESULTS OF PREVIOUS QUERIES

</p>
<h3 id="top_critic_years"><code>top_critic_years</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>

In [ ]:
%%sql
postgresql:///games

CREATE TEMP TABLE top_critic_years AS

SELECT * FROM (WITH CTE AS (SELECT * FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year , ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
ORDER BY avg_critic_score DESC
LIMIT 10) AS F

(psycopg2.errors.DuplicateTable) relation "top_critic_years" already exists

[SQL: CREATE TEMP TABLE top_critic_years AS

SELECT * FROM (WITH CTE AS (SELECT * FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year , ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
ORDER BY avg_critic_score DESC
LIMIT 10) AS F]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
postgresql:///games

CREATE TEMP TABLE top_critic_years_more_than_FOUR_games AS

SELECT * FROM (
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10) AS T

(psycopg2.errors.DuplicateTable) relation "top_critic_years_more_than_four_games" already exists

[SQL: CREATE TEMP TABLE top_critic_years_more_than_FOUR_games AS

SELECT * FROM (
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(critic_score),2) as avg_critic_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10) AS T]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

-- We will select the year which has number of video games more than 4 and and years in Top 10 high critic score
SELECT year, avg_critic_score
FROM top_critic_years
EXCEPT
SELECT year, avg_critic_score
FROM top_critic_years_more_than_FOUR_games
ORDER BY avg_critic_score DESC;

 * postgresql:///games
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

## 6. Years video game players loved
<p>Based on our work in the task above, it looks like the early 1990s might merit consideration as the golden age of video games based on <code>critic_score</code> alone, but we'd need to gather more games and reviews data to do further analysis. </p>
<p>Let's move on to looking at the opinions of another important group of people: players! To begin, let's create a query very similar to the one we used in Task Four, except this one will look at <code>user_score</code> averages by year rather than <code>critic_score</code> averages.</p>

In [ ]:
%%sql

-- SELECTING THE YEARS WITH HIGH USER SCORE
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(user_score),2) as avg_user_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY AVG_user_score DESC
LIMIT 10;

 * postgresql:///games
10 rows affected.

[(1997, 8, Decimal('9.50')),
 (1998, 10, Decimal('9.40')),
 (2010, 23, Decimal('9.24')),
 (2009, 20, Decimal('9.18')),
 (2008, 20, Decimal('9.03')),
 (1996, 5, Decimal('9.00')),
 (2005, 13, Decimal('8.95')),
 (2006, 16, Decimal('8.95')),
 (2000, 8, Decimal('8.80')),
 (2002, 9, Decimal('8.80'))]

In [ ]:
%%sql
postgresql:///games

CREATE TEMP TABLE top_user_years_more_than_FOUR_games AS
SELECT * FROM (
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(user_score),2) as avg_user_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY AVG_user_score DESC
LIMIT 10) AS U

(psycopg2.errors.DuplicateTable) relation "top_user_years_more_than_four_games" already exists

[SQL: CREATE TEMP TABLE top_user_years_more_than_FOUR_games AS
SELECT * FROM (
WITH CTE AS (SELECT g.game, g.games_sold, g.year,r.critic_score, r.user_score FROM game_sales  g
INNER JOIN reviews r
ON g.game = r.game)
SELECT year ,COUNT(game) as num_games, ROUND(AVG(user_score),2) as avg_user_score
FROM CTE
GROUP BY year
HAVING COUNT(game) > 4
ORDER BY AVG_user_score DESC
LIMIT 10) AS U]
(Background on this error at: https://sqlalche.me/e/14/f405)

## 7. Years that both players and critics loved
<p>Alright, we've got a list of the top ten years according to both critic reviews and user reviews. Are there any years that showed up on both tables? If so, those years would certainly be excellent ones!</p>
<p>
:</p>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<p>We've also saved the results of our top user years query from the previous task into a table:</p>
<h3 id="top_user_years_more_than_four_games"><code>top_user_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_user_score</code></td>
<td>float</td>
<td>Average of all user scores for games released in that year</td>
</tr>
</tbody>
</table>

In [ ]:
%%sql

-- Select the year results that appear on both tables
SELECT year FROM top_critic_years_more_than_FOUR_games
INTERSECT
SELECT year FROM top_user_years_more_than_FOUR_games

 * postgresql:///games
3 rows affected.

[(2008,), (2002,), (1998,)]

## 8. Sales in the best video game years
<p>Looks like we've got three years that both users and critics agreed were in the top ten! </p>
We will see the number of games_sold in those 3 years

In [ ]:
%%sql
postgresql:///games

SELECT year, sum(games_sold) as total_games_sold FROM game_sales
WHERE year IN (SELECT year FROM top_critic_years_more_than_FOUR_games
INTERSECT
SELECT year FROM top_user_years_more_than_FOUR_games)
GROUP BY year
ORDER BY total_games_sold DESC

3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]